.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
}

.users-table {
  padding: 10px 10%;
}

.add-user-form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.label-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
