.dashboard {
  padding: 40px 10%;
  gap: 10px;
  box-sizing: border-box;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

  h1 {
    margin: 0;
    letter-spacing: 1px;

    span {
      color: var(--primary-color);
    }
  }

  h2 {
    letter-spacing: 1px;
    margin-top: 0;
    font-weight: 500;
  }
}

.dashboard-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-items: center;
  gap: 10px;

  a {
    height: 66px;
    width: 320px;
    background-color: var(--hover-color);
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  article {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;

    span {
      font-weight: bolder;
    }

    div {
      text-align: start;
      display: flex;
      flex-direction: column;
      gap: 2px;

      small {
        font-size: small;
        color: #333;
      }
    }
  }
}

.dashboard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 140px;
  color: #333;
}
