.dashboard {
    display: grid;
    grid-template-columns: 320px 1fr;
    padding: 20px 10%;
    gap: 10px;
    box-sizing: border-box;
}

.dashboard-aside {
    background-color: #fff;
    border: 1px solid #fefefe;
    border-radius: 10px;
    padding: 10px;
}

.dashboard-aside-links {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        height: 42px;
        background-color: var(--primary-color);
        border-radius: 10px;
        color: #000;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--secondary-color);
        }
    }

    article {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 4px 8px;
    }
}

.dashboard-main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dashboard-main article {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 4px 8px;
}

.dashboard-main article h2 {
    font-size: medium;
}

.dashboard-main article span {
    font-size: small;
}

.dashboard-main article img {
    width: 38px;
    height: 38px;
    border-radius: 6px;
    background-color: #0ae98a;
}
