*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #0ae98a;
  --secondary-color: #7fffc8;
  --hover-color: #00ff91;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

.primary-button {
  background-color: var(--primary-color);
  color: #000;
  border: none;

  &:hover {
      background-color: var(--hover-color);
  }
}