.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 10%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    cursor: default;
}